body {
     font-family: Arial, Helvetica, sans-serif;
margin: 0;
    }

    nav{
        display:flex;
        height: 70px; 
    }

    .secondary-block {
        color: white;
        background-color: rgb(4, 117, 186);
    }

    a {
color: white;
    }

    nav h2 {
margin: 0px;
padding: 20px 0 20px 15px;
    }

ul nav {
    display: flex;
    margin:0;
    padding: 24px;
list-style: none;

}
nav li{
    margin-left: 15px;
}