.contenu-mixte {
    text-align: center;
}

.contenu-mixte {
    font-family:Arial, Helvetica, sans-serif;
}

#section-1 {
    bleu;
}
#section-2 {
    orange;
}
 .contenu-mixte p {
     color:"red";
     font-size:16;
    }




.body {
    margin: 0px ;

}

.section {
  margin: 0px padding: 30px ;
}

.h3 {
text-align: center;
}