div {
    background-color: grey;
}

p {
    color: red;
}

img {
    border: 4px solid;
}

."contenu-mixte" {

    text-align: center;  
}

."contenu-mixte" {

       font-family:Arial;
       font-size :18px
}

#unique  { color : blue 
}

#unique { color : orange
}

#unique { color : purple
}