css
* {
  color: red;
}
/*ex3*/
  .contenu-mixte{
      text-align: center;
      
  }

  .contenu-texte {
    font-family: Arial;
      font-size: 18px;
  }

      

/*ex4*/
#section-1{
  color:blue;
  


}
#section-2{
  color: orange;
}
#section-3{
  color: purple;
}
/*ex5*/

.contenu-mixte p{
     text-align:right ;
}
#section-3  p{
  text-align: justify;
  text-decoration: black;
  background-color: white;




}
