div {
background-color: gray;
}

p {
color: red;
}

img {
border: 4px solid ;
}

.contenu-mixte {
  text-align: cener;
}

.contenu-texte{
font-family: Arial;
font-size: 18px;
} 

#section-1 {
color: blue;
}

#section-2 {
    color: orange;
}

#section-3 {
color:purple ;
}
